<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="/pimcore/static6/img/favicon/favicon-32x32.png"/>

    {% spaceless -%}
    {# add global stylesheets and scripts outside of any blocsk to add them to the helpers before any others assets are added #}
    {# we use the view helper to have cache buster functionality #}
    {% do pimcore_head_link().appendStylesheet(asset('static/bootstrap/css/bootstrap.css')) %}
    {% do pimcore_head_link().appendStylesheet(asset('static/css/global.css')) %}
    {% do pimcore_head_link().appendStylesheet(asset('static/css/print.css'), 'print') %}
    {% do pimcore_head_link().appendStylesheet('https://fonts.googleapis.com/css?family=Montserrat:300,300i,500,500i,700,700i') %}
    {% do pimcore_head_link().appendStylesheet(asset('dist/styles/styles.css')) %}

    {% if editmode %}
        {% do pimcore_head_link().appendStylesheet(asset('static/css/editmode.css')) %}
    {% endif %}

    {% do pimcore_head_script().appendFile(asset('static/js/srcset-polyfill.min.js')) %}
    {% do pimcore_head_script().appendFile('https://code.jquery.com/jquery-3.2.1.min.js') %}
    {% do pimcore_head_script().appendFile(asset('dist/scripts/data.min.js')) %}
    {% do pimcore_head_script().appendFile(asset('dist/scripts/main.min.js')) %}

    {% set isPortal = ((isPortal is defined) and isPortal) %}

    {% if not document is defined or not document %}
        {% set document = pimcore_document(1) %}
    {% endif %}

    {% if document is instanceof('\\Pimcore\\Model\\Document\\Link') %}
        {# @var document \Pimcore\Model\Document\Link #}
        {% set document = document.getObject() %}
    {% endif %}

    {% if document.getTitle() is not empty %}
        {% do pimcore_head_title().set(document.getTitle()) %}
    {% endif %}

    {% if document.getDescription() is not empty %}
        {% do pimcore_head_meta().setDescription(document.getDescription()) %}
    {% endif %}

    {% do pimcore_head_title().append('pimcore Demo') %}
    {% do pimcore_head_title().setSeparator(' : ') %}
    {%- endspaceless %}

    {# we're using the deferred extension here to make sure this block is rendered after all helper calls #}
    {% block layout_head_meta deferred %}
    {{ pimcore_head_title() }}
    {{ pimcore_head_meta() }}
    {% endblock %}

    {% block head_stylesheets deferred %}
    {{ pimcore_head_link() }}
    {% endblock %}

    {% block head_ie_stylesheets %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('static/js/html5shiv.js') }}"></script>
        <script src="{{ asset('static/js/respond.min.js') }}"></script>
        <![endif]-->
    {% endblock %}
</head>
<body{% if isPortal %} class="portal-page"{% endif %}>

<div class="navbar-wrapper">

    {% set mainNavStartNode = document.getProperty('mainNavStartNode') %}
    {% if mainNavStartNode is empty %}
        {% set mainNavStartNode = pimcore_document(1) %}
    {% endif %}

    {% set mainNav = pimcore_build_nav(document, mainNavStartNode) %}

    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ mainNavStartNode }}">
                        <img src="{{ asset('static/img/logo-white.svg') }}" alt="pimcore Demo"> </a>
                </div>
                <div class="navbar-collapse collapse">
                    {{ pimcore_render_nav(mainNav, 'menu', 'renderMenu', {
                        maxDepth: 1,
                        ulClass: 'nav navbar-nav'
                    }) }}

                    <ul class="nav navbar-nav navbar-right">
                        {{ include('Includes/login.html.twig') }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="main">
    <div class="main__content">
        {% block content %}{% endblock %}
    </div>
</main>

{# include a document-snippet - in this case the footer document #}
{{ pimcore_inc('/' ~ app.request.locale ~ '/shared/includes/footer') }}

{# output scripts added before #}
{% block scripts deferred %}
{{ pimcore_head_script() }}
{% endblock %}

</body>
</html>
