{% extends 'layout.html.twig' %}

{% block content %}
    {% set products = vars.products %}
    {% set images = vars.images %}

    <section class="products">
        <h1 class="products__title">{{ 'Our products' | trans }}</h1>
        <ul class="products__list">
            {% for product in products %}
                <li class="products__item">
                    <a href="{{ path('product', {id: product.id}) }}" class="products__item-link">
                        <div class="products__item-visual">
                            {% if (images[loop.index0] | length) > 0 %}
                                <img src="{{ images[loop.index0][0] }}" alt="{{ product.name }}" class="products__item-image">
                            {% endif %}
                        </div>
                        <h2 class="products__item-name">{{ product.name }}</h2>
                    </a>
                </li>
            {% endfor %}
        </ul>

        {% set pages = products.getPages() %}

        {% if pages.pageCount > 1 %}
            <ul class="pagination">
                {% if pages.previous is defined %}
                    {% if pages.previous %}
                        <li><a href="{{ pimcore_url({ page: pages.first }) }}">Previous</a></li>
                    {% endif %}
                {% endif %}

                {% for page in pages.pagesInRange %}
                    {% if page == pages.current %}
                        <li class="active"><span>{{ page }}</span></li>
                    {% else %}
                        <li><a href="{{ pimcore_url({ page: page }) }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if pages.next is defined %}
                    {% if pages.next %}
                        <li><a href="{{ pimcore_url({ page: pages.last }) }}">Next</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        {% endif %}
    </section>
{% endblock %}